*{
    margin: 0;
    padding: 0;
}
.container{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: whitesmoke;
}
input{
    font-size: 20px;
    padding: 3px 5px;
    margin: 3px 2px;
    border-radius: 4px;
    /* box-shadow: 2px 2px 3px black; */
}
h2{
    margin-bottom: 10px;
    text-align: center;
}
button{
    font-size: 20px;
    padding: 3px 5px;
    margin: 3px 2px;
    border-radius: 4px;

}
.calbtn{
    background-color: rgb(175, 229, 241);
}
.refbtn{
    background-color: wheat;
}
.refbtn:hover{
    color: wheat;
    background-color: black;
}
.calbtn:hover{
   color: rgb(175, 229, 241);
   background-color: black;
}